<nav>
    <ul>
        <li>
            <a href="./">Home</a>
        </li>
        <li>
            <a href="/add-product">Add new product</a>
        </li>
        <li>
            <a href="/signup">Sign up</a>
        </li>
        <li>
            <a href="/login">Login</a>
        </li>
        <li>
            <a href="/log-out">Log out </a>
        </li>
    </ul>
</nav>
