<nav>
    <ul>
        <li>
            <a href="./">Home</a>
        </li>
        <li>
            <a href="/store/add-product">Add new product</a>
        </li>
        <li>
            <a href="/user/signup">Sign up</a>
        </li>
        <li>
            <a href="/user/login">Login</a>
        </li>
        <li>
            <a href="/user/log-out">Log out </a>
        </li>
    </ul>
</nav>
