<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="<%= action %>" method="POST">
        <label for="email">E-mail:</label><br />
        <input type="text" name="email" value="your email" id="email"><br />
        <label for="password">Password:</label><br />
        <input type="password" name="password" value="your password" id="password"><br />
        <button><%= buttonText %></button>
    </form>
</body>
</html>